<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--Link font awesome CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Link Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"><div class="head1">Students Records</div></a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/insert">Records Entry</a></li>
            <li><a href="/show">Edit Records</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <%if(username!=null){%>
              <li class="drop"><a href="/signup" class="dropdown-toggle" data-toggle="dropdown";><span class="glyphicon glyphicon-user" ></span> <%=username%></a>
                <ul class="dropdown-menu">
                  <li><a href="/insert">Insert Records</a></li>
                  <li><a href="/show">Show Records</a></li>
                  <li><a href="/logout">Logout</a></li>
                </ul>
              </li>
              <%}%>
              <%if(username==null){%>
              <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              <%}%>
             
            <form class="navbar-form navbar-left" action="/search" method="post">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search by name" name="name">
              </div>
              <button type="submit" value="search" class="btn btn-success">Submit</button>
            </form>
          </ul>
        </div>
      </nav>
     
      <!-- <div class="container">
        <div class="index-main">
          <h3>Student Records </h3>
        </div>
      </div> -->


  <div class="container-fluid">
    <div class="main">
      <div class="layer1"></div>
      <div class="layer2"></div>
      <div class="content">
        <h1>Welcome to node js Project</h1>
        <p>Mini project on Node js and MongoDB. In which we design a signup/login after login we can insert student records into database.
          we can also edit, upadte and delete the student records.
        </p>
        <%if(username==null){%>
        <a href="/login">Login</a>
        <%}%>
        <%if(username!=null){%>
          <a href="#">Hello <%=username%></a>
          <%}%>

      </div>
  </div>
  </div>
  <footer class="page-footer font-small special-color-dark pt-4" id="foot">

    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Social buttons -->
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a class="btn-floating btn-fb mx-1">
            <a href="#"><i class="fa fa-facebook-official fa-2x" aria-hidden="true" style="color: #3b5998;"></i></a>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-tw mx-1">
              <a href="#"><i class="fa fa-twitter fa-2x" aria-hidden="true" style="color: #00acee"></i></a>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-gplus mx-1">
              <a href="#"><i class="fa fa-google-plus fa-2x" aria-hidden="true" style="color: #CC3333;"></i></a>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-li mx-1">
              <a href="#"><i class="fa fa-linkedin fa-2x" aria-hidden="true" style="color:  #0e76a8;"></i></a>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-dribbble mx-1">
              <a href="#"><i class="fa fa-instagram fa-2x" aria-hidden="true" style="color: #E1306C;"></i></a>
          </a>
        </li>
      </ul>
      <!-- Social buttons -->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      <p>© 2019 Copyright: Ankit Kumar</p>
    </div>
    <!-- Copyright -->
  
  </footer>
  
  </body>
</html>
