@import "bourbon";

body {
    margin: 0;
    padding: 0;
}
.head1{
  color: white;
  font-size: 22px;
}

.form-control{
  height: 40px;
  box-shadow: none;
  color: #969fa4;
}
.form-control:focus{
  border-color: #5cb85c;
}
  .form-control, .btn{        
      border-radius: 3px;
  }
.signup-form{
  width: 400px;
  margin: 0 auto;
  padding: 30px 0;
}
.signup-form h2{
  color: #636363;
      margin: 0 0 15px;
  position: relative;
  text-align: center;
  }
.signup-form h2:before, .signup-form h2:after{
  content: "";
  height: 2px;
  width: 20%;
  background: #d4d4d4;
  position: absolute;
  top: 50%;
  z-index: 2;
}	
.signup-form h2:before{
  left: 0;
}
.signup-form h2:after{
  right: 0;
}
  .signup-form .hint-text{
  color: #999;
  margin-bottom: 30px;
  text-align: center;
}
  .signup-form form{
  color: #999;
  border-radius: 3px;
    margin-bottom: 15px;
      background: #f2f3f7;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      padding: 30px;
  }
.signup-form .form-group{
  margin-bottom: 20px;
}
.signup-form input[type="checkbox"]{
  margin-top: 3px;
}
.signup-form .btn{        
      font-size: 16px;
      font-weight: bold;		
  min-width: 140px;
      outline: none !important;
  }
.signup-form .row div:first-child{
  padding-right: 10px;
}
.signup-form .row div:last-child{
  padding-left: 10px;
}    	
  .signup-form a{
  color: #fff;
  text-decoration: underline;
}
  .signup-form a:hover{
  text-decoration: none;
}
.signup-form form a{
  color: #5cb85c;
  text-decoration: none;
}	
.signup-form form a:hover{
  text-decoration: underline;
} 

.index-main{
  height: 70vh;
  margin-top: 5vh;
  background-image: linear-gradient(to right,#bdc3c7,#2c3e50);
  /* background-color: whitesmoke; */

}
.index-main h3{
  text-align: center;
  padding: 10px;
  padding-top: 20px;
  font-size: 20px;
  color: whitesmoke;
  /* color: black; */
}
.index-main p{
  text-align: center;
  font-size: 16px;
  color: white;
  /* color: black; */
  margin-top: 150px;
}




.main
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 800px;
    height: 400px;
}
.main .layer1
{
    width: 100%;
    height: 100%;
    /* background: #4ef75c; */
    background-image: linear-gradient(#2c3e50,#fd746c);
    transform: skewX(-30deg);
    box-shadow: 0 0 0 15px #fff;
    z-index: 1;
    transition: .5s;
}
.main .layer2
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   /* background: #262626; */
   background-image: linear-gradient(#fd746c,#2c3e50);
   z-index: -1;
   transition: 1s;
}
.main:hover .layer2
{
    transform: scaleX(1.5) scaleY(.8);
}
.main .content
{
    position: absolute;
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;
    background: #fff;
    padding: 50px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 10px 15px rgba(0,0,0,.4);
    border-radius: 8px;
}
.main .content h1
{
    margin: 0;
    padding: 0;
    color: #262626;
    font-weight: 700;
    margin-bottom: 20px;
}
.main .content p
{
  
    font-weight: 400;
    margin-bottom: 20px;
}
.main .content a
{
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 10px;
    background: #52cf7c;
    color: #fff;
    border-radius: 5px;
}